// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$primary: rgb(65, 184, 131) !default;
$primary-focus: hsl(153, 48%, 45%) !default;
$secondary: rgb(53, 73, 94) !default;
$white: #fff !default;
